html(lang="fr")
  head
    title Voici le contenu du fichier
    //- script(type='text/javascript').
    //-   if (foo) bar(1 + 5)
  body
    h1 Voici le contenu du fichier
    table
        each user in file
            tr
                td= user[0]
                td= user[1]